@charset "exercicio6_AnaFernandes";


body{

    background-color: black;
    background-image: url(space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
}

div{
    height: 100vh;
    background: url(astro.png) no-repeat fixed center center;
}
